name: Build and Deploy to GCE

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT }}
  GCE_SA_KEY: ${{ secrets.GCE_SA_KEY }}
  GCE_INSTANCE: upco-client
  GCE_INSTANCE_ZONE: asia-northeast3-b
  IMAGE: client

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
    
      - uses: google-github-actions/setup-gcloud@94337306dda8180d967a56932ceb4ddcf01edae7
        with:
          service_account_key: ${{ secrets.GCE_SA_KEY }}
          project_id: ${{ secrets.GCE_PROJECT }}

      # Configure Docker to use the gcloud command-line tool as a credential
      # helper for authentication
      - run: |-
          gcloud --quiet auth configure-docker
          
      - name: Clear image and Deploy
        run: |-
          gcloud compute ssh \
          --project "$PROJECT_ID" \
          --zone "$GCE_INSTANCE_ZONE" \
          $GCE_INSTANCE \
          --command "docker run gcr.io/$PROJECT_ID/$IMAGE"

